#list table {
	width: 100%;
	margin-top: 40px;
}

#list th {
	color: white;
	background: black;
	width: 25%;
}

#list tr {
	margin-top: 30px;
}

#list #add {
	width: 100%;
	height: 50px;
	text-align: center;
	background-color: lightgreen;
	cursor: pointer;
	transition: 0.5s all;
	border-radius: 5px;
	font-size: 50;
}

#placehoder {
	height: 50px;
}

#list #add:hover {
	opacity: 0.5;
}

#addFormular {
	width: 90%;
	padding: 5%;
	background-color: gray;
}
